version: "3"
services:
  node1:
    build:
      context: ./
      dockerfile: cmd/dc/Dockerfile
    environment:
      - SERVICE_NAME=node1
      - SERVICE_PATH=./test/node1
    ports:
      - 8081:8081
    networks:
      - dc-network
  node2:
    build:
      context: ./
      dockerfile: cmd/dc/Dockerfile
    environment:
      - SERVICE_NAME=node2
      - SERVICE_PATH=./test/node2
    networks:
      - dc-network
  node3:
    build:
      context: ./
      dockerfile: cmd/dc/Dockerfile
    environment:
      - SERVICE_NAME=node3
      - SERVICE_PATH=./test/node3
    networks:
      - dc-network
networks:
  dc-network:
    driver: bridge
